@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  color: black;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  align-items: center
}

.card img{
  max-width: 100px
}

.btn{
  width: 100px
}
